<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ modal_title }}</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('close')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [innerHTML]="modal_content"></div>
</div>
<div class="modal-footer justify-content-center">
  <button
    *ngIf="modal_operation === 'delete'"
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('ok')"
  >
    DELETE
  </button>
  <button
    *ngIf="modal_operation === 'update'"
    type="button"
    class="btn btn-dark"
    (click)="activeModal.close('ok')"
  >
    CONFIRM
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss('cancel')"
  >
    CANCEL
  </button>
</div>
