<div class="container-fluid">
  <div
    *ngIf="alertClass && alertMessage"
    class="{{ alertClass }} text-center"
    role="alert"
  >
    <b> {{ alertMessage }} </b>
  </div>
  <a routerLink="/browse/add"
    ><button type="button" class="btn btn-dark font-weight-bold">Add</button></a
  >
  <button
    type="button"
    class="font-weight-bold this.checkedBoxesPartIds.length === 0 ? btn btn-light : btn btn-danger"
    [disabled]="this.checkedBoxesPartIds.length === 0"
    (click)="openConfirmModal('undefined', 'undefined', 'multiple')"
  >
    Delete
  </button>
  <div class="float-right form-inline">
    <div class="form-group mb-3">
      <label class="font-weight-bold mr-2">Show entries</label>
      <select
        class="custom-select custom-select-sm form-control"
        (change)="changePerPageItems($event)"
      >
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            class="checkboxPartNumber"
            (click)="checkAllCheckBoxes($event)"
          />&nbsp;&nbsp;Part Number
        </th>
        <th scope="col">Description - EN</th>
        <th scope="col">Description - ES</th>
        <th scope="col">Description - FR</th>
        <th scope="col">Actions</th>
      </tr>
      <tr>
        <th scope="col">
          <input
            type="text"
            class="form-control"
            (keyup)="keyUpfilterData($event, 'part_number')"
          />
        </th>
        <th scope="col">
          <input
            type="text"
            class="form-control"
            (keyup)="keyUpfilterData($event, 'description_en')"
          />
        </th>
        <th scope="col">
          <input
            type="text"
            class="form-control"
            (keyup)="keyUpfilterData($event, 'description_es')"
          />
        </th>
        <th scope="col">
          <input
            type="text"
            class="form-control"
            (keyup)="keyUpfilterData($event, 'description_fr')"
          />
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let parts of filteredPartsData
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
          let index = index
        "
      >
        <td style="width: 180px">
          <span>
            <input
              #tableRowsCheckBoxes
              type="checkbox"
              value="{{ parts.id }}"
              [(ngModel)]="parts.selected"
              (change)="checkBoxChangedHandler($event, parts.id)"
            />&nbsp;{{ parts.part_number }}</span
          >
        </td>
        <td>{{ parts.description_en || "Not Available" }}</td>
        <td>{{ parts.description_es || "Not Available" }}</td>
        <td>{{ parts.description_fr || "Not Available" }}</td>
        <td>
          <i
            style="cursor: pointer"
            routerLink="/browse/add/{{ parts.id }}"
            class="fa fa-edit"
          ></i>
          &nbsp;&nbsp;
          <i
            style="cursor: pointer"
            (click)="openConfirmModal(parts.id, index, 'single')"
            class="fa fa-remove"
          ></i>
        </td>
      </tr>
      <tr class="no-data" *ngIf="filteredPartsData.length === 0">
        <td colspan="6">No Data Available</td>
      </tr>
    </tbody>
  </table>

  <div class="partsDataPagination">
    <ngb-pagination
      *ngIf="filteredPartsData.length > 0"
      class="d-flex justify-content-center"
      [collectionSize]="filteredPartsData.length"
      [(page)]="page"
      [(pageSize)]="pageSize"
      [maxSize]="8"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
      <ng-template ngbPaginationPrevious><</ng-template>
      <ng-template ngbPaginationNext>></ng-template></ngb-pagination
    >
  </div>
</div>
