<div
  *ngIf="alertClass && alertMessage"
  class="container {{ alertClass }} mt-3 text-center"
  role="alert"
>
  <b> {{ alertMessage }} </b>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="form-inline mb-3">
        <h4>{{ Title }}</h4>
        <a
          *ngIf="isDeleteActive"
          class="font-weight-bold"
          (click)="confirmDeletePart(this.paramID)"
          href="javascript:void(0)"
          style="color: rgba(255, 20, 20, 0.774); margin-left: 57%"
        >
          Delete
        </a>
      </div>

      <form [formGroup]="addPartsForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="part_number"
            >Part Number <span style="color: red">*</span></label
          >
          <input
            class="form-control"
            type="text"
            formControlName="part_number"
          />
          <div
            *ngIf="
              myaddPartsForm.part_number.invalid &&
              (myaddPartsForm.part_number.dirty ||
                myaddPartsForm.part_number.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="myaddPartsForm.part_number.errors.required">
              Part Number is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description_en">Description-EN</label>
          <input
            class="form-control"
            type="text"
            formControlName="description_en"
          />
        </div>

        <div class="form-group">
          <label for="description_es">Description-ES</label>
          <input
            class="form-control"
            type="text"
            formControlName="description_es"
          />
        </div>

        <div class="form-group">
          <label for="description_fr">Description-FR</label>
          <input
            class="form-control"
            type="text"
            formControlName="description_fr"
          />
        </div>

        <div class="form-group">
          <button
            class="btn btn-success btn-md btn-dark"
            [disabled]="!addPartsForm.valid"
            type="submit"
            style="background-color: black"
          >
            {{ buttonText }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
