<div
  *ngIf="alertClass && alertMessage"
  class="container {{ alertClass }} mt-3 text-center"
  role="alert"
>
  <b> {{ alertMessage }} </b>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 0">
  <div class="col-md-12 col-sm-12">
    <h4><strong>Import Data</strong></h4>
    <div class="instructions">
      <li>
        Upload a CSV that has Part Numbers and at least one column of
        Descpritions (ES, EN, FR) you want to import.
      </li>
      <li>
        The first row will be used as column header and will not be imported.
      </li>
      <li>
        Columns that are not Part Numbers or Descriptions can be "skipped"
        (ignored) in next step.
      </li>
      <li>Please note that you can only process one csv file at a time.</li>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div
      class="fileDragContainer"
      appDraganddrop
      (fileDropped)="onFileDroppedOrBrowse($event)"
    >
      <input
        type="file"
        #fileDropRef
        id="fileDropRef"
        (change)="onFileDroppedOrBrowse($event)"
        accept=".csv"
      />
      <img src="assets/drop-icon.png" width="50px" height="50px" />
      <h3 class="mt-3">Drag and drop a .csv here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 1">
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file" *ngIf="file">
      <div class="info">
        <div class="file-meta-info">
          <img src="assets/csv.png" width="50px" height="50px" />
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
        </div>
        <h4 class="font-weight-bold center-uploading" style="margin-top: 20px">
          Uploading {{ file?.progress }} %
        </h4>
        <app-progress
          class="center-uploading"
          [progress]="file?.progress"
        ></app-progress>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 2">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-left">
        <h4 class="font-weight-bold">Match Columns</h4>
        <h5><strong>Filename:</strong> {{ fileName }}</h5>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-dark btn-lg font-weight-bold"
          (click)="importData()"
        >
          Import
        </button>
        <button
          class="btn btn-light btn-lg ml-2 font-weight-bold"
          (click)="cancelImport()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div
    class="import-file-data mt-3"
    *ngFor="let column of fileHeaderColumns; let i = index"
  >
    <div class="col-md-4 import-select-column">
      <label class="mt-3 ml-2 font-weight-bold"
        >{{ column }}
        <span style="color: #a3a2a3"
          >(Column {{ (i + 1 + 9).toString(36).toUpperCase() }})</span
        ></label
      >
      <div class="ml-2" style="border-top: 1px solid #ccc">
        <div class="mt-3">
          <label class="mb-2 font-weight-bold">Match to:</label>
          <select
            class="form-control"
            name="select{{ column }}"
            id="select{{ column }}"
            [(ngModel)]="csvDataRules[column]['matchTo']"
          >
            <option value="skip">Skip Column</option>
            <option value="part_number">Part Number</option>
            <option value="description_en">Description - EN</option>
            <option value="description_es">Description - ES</option>
            <option value="description_fr">Description - FR</option>
            <option value="quantity">Quantity</option>
          </select>
          <div
            [ngStyle]="
              csvDataRules[column]['matchTo'] === 'skip' ||
              csvDataRules[column]['matchTo'] === 'part_number'
                ? { color: '#ccc' }
                : { color: '' }
            "
          >
            <label class="mt-3 mb-2 font-weight-bold">Empty Values:</label>
            <fieldset
              [disabled]="
                csvDataRules[column]['matchTo'] === 'skip' ||
                csvDataRules[column]['matchTo'] === 'part_number'
              "
            >
              <form>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="empty_value"
                    checked
                    value="ignore"
                    [(ngModel)]="csvDataRules[column]['emptyValue']"
                  />&nbsp;&nbsp;Ignore
                </label>
                &nbsp;&nbsp;
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="empty_value"
                    value="erase"
                    [(ngModel)]="csvDataRules[column]['emptyValue']"
                  />&nbsp;&nbsp;Erase existing
                </label>
              </form>
              <label class="mt-3 mb-2 font-weight-bold">Modified Values:</label>
              <form>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="modified_value"
                    value="original"
                    [(ngModel)]="csvDataRules[column]['modifiedValue']"
                  />&nbsp;&nbsp;Keep Original
                </label>
                &nbsp;&nbsp;
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="modified_value"
                    value="overwrite"
                    [(ngModel)]="csvDataRules[column]['modifiedValue']"
                  />&nbsp;&nbsp;Overwrite
                </label>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table mt-2">
        <label class="mt-2 ml-2"
          ><strong> File Data </strong>
          <small style="color: #a3a2a3">(first 5 rows)</small></label
        >
        <tr *ngFor="let columnValue of fileData | slice: 0:5">
          <td>{{ columnValue[column] }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 3">
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file" *ngIf="file">
      <div class="info" style="margin-top: 40px">
        <h4 class="font-weight-bold center-uploading">
          Processing {{ file?.progress }} %
        </h4>
        <app-progress
          class="center-uploading"
          [progress]="file?.progress"
        ></app-progress>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 4">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-right: 15px">
        <button
          class="btn btn-dark btn-lg ml-2 font-weight-bold"
          (click)="cancelImport()"
        >
          Import Again
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file">
      <div class="info" style="margin-top: 40px">
        <h4 class="font-weight-bold center-uploading">Import Complete!</h4>
        <p class="center font-italic" style="color: green">
          <b>{{ fileName }} </b>&nbsp;was successfully imported.
        </p>
      </div>
    </div>
  </div>
</div>
