<div
  *ngIf="alertClass && alertMessage"
  class="container {{ alertClass }} mt-3 text-center"
  role="alert"
>
  <b> {{ alertMessage }} </b>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 0">
  <div class="col-md-12 col-sm-12">
    <h4><strong>Export Data</strong></h4>
    <div class="instructions">
      <li>
        Upload a CSV that has all the Part Numbers you want to export
        Descriptions for.
      </li>
      <li>
        All Part Numbers must be in a single column; only one column (that you
        choose) will be matched.
      </li>
      <li>
        The first row will be used as the column header and will not be matched
        and exported.
      </li>
      <li>Please note that you can only process one csv file at a time.</li>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <div
      class="fileDragContainer"
      appDraganddrop
      (fileDropped)="onFileDroppedOrBrowse($event)"
    >
      <input
        type="file"
        #fileDropRef
        id="fileDropRef"
        (change)="onFileDroppedOrBrowse($event)"
        accept=".csv"
      />
      <img src="assets/drop-icon.png" width="50px" height="50px" />
      <h3 class="mt-3">Drag and drop a .csv here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 1">
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file" *ngIf="file">
      <div class="info">
        <div class="file-meta-info">
          <img src="assets/csv.png" width="50px" height="50px" />
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
        </div>
        <h4 class="font-weight-bold center-uploading" style="margin-top: 20px">
          Uploading {{ file?.progress }} %
        </h4>
        <app-progress class="center" [progress]="file?.progress"></app-progress>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 2">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-left">
        <h4 class="font-weight-bold">Select Output</h4>
        <h5><strong>Filename:</strong> {{ fileName }}</h5>
      </div>
      <div class="pull-right">
        <button
          class="btn btn-dark btn-lg font-weight-bold"
          (click)="exportData()"
        >
          Export
        </button>
        <button
          class="btn btn-light btn-lg ml-2 font-weight-bold"
          (click)="cancelImport()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="export-file-data mt-3">
    <div class="col-md-4 export-select-column">
      <div class="mt-3 ml-2">
        <label class="mb-2 font-weight-bold">Select Part Number column:</label>
        <select class="form-control" (change)="selectFileColumnData($event)">
          <option
            *ngFor="let column of fileHeaderColumns; let index = index"
            [value]="column"
          >
            {{ column }} (Column
            {{ (index + 1 + 9).toString(36).toUpperCase() }})
          </option>
        </select>
        <label class="mt-4 mb-1 font-weight-bold"
          >Output fields <span style="color: red">*</span></label
        >
        <p class="font-italic">(Choose at least 1)</p>
        <label class="radio-inline">
          <input
            type="checkbox"
            name="description_en"
            value="description_en"
            (change)="exportColumnOptions($event)"
          />&nbsp;&nbsp;Description - EN
        </label>
        <br />
        <label class="radio-inline">
          <input
            type="checkbox"
            name="description_es"
            value="description_es"
            (change)="exportColumnOptions($event)"
          />&nbsp;&nbsp;Description - ES
        </label>
        <br />
        <label class="radio-inline">
          <input
            type="checkbox"
            name="description_fr"
            value="description_fr"
            (change)="exportColumnOptions($event)"
          />&nbsp;&nbsp;Description - FR
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table mt-2">
        <label class="mt-2 ml-2"
          ><strong> File Data </strong> <small>(first 5 rows)</small></label
        >
        <tr *ngFor="let data of fileData | slice: 0:5">
          <td>{{ data[selectedColumn] }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 3">
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file" *ngIf="file">
      <div class="info">
        <h4
          class="font-weight-bold center-uploading"
          style="margin-right: 30px"
        >
          Processing {{ file?.progress }} %
        </h4>
        <app-progress class="center" [progress]="file?.progress"></app-progress>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="fileUploadStart === 4">
  <div class="col-md-12 col-sm-12 files-list">
    <div class="single-file" *ngIf="file">
      <div class="info" style="margin-top: 35px">
        <h4 class="font-weight-bold center-uploading">Export is ready!</h4>
        <p class="center">
          Your download should start automatically in a few seconds!
        </p>
      </div>
    </div>
  </div>
</div>
